<% content_for :title do %>
About
<%end%>

<div style="text-align:center;">
    <h1>About Page</h1>
    <p>練習で作った物をひたすら貼っていくだけの部屋</br>
    クオリティなんざ知らね</p>
    <%= link_to("Home","/")%>
</div>
<div class="about_main">
    <div class="move1">色が変わるよ！?</div>
    
</div>
