<% content_for :title do %>
CSS actions
<%end%>
<div class="load_action">
    
    <p class="action1">ここが消える</p>
    <p class="action2"><span>背景</span></p>
    <span class="action3">cssだけでも結構動く</span></br>
    <img src="/assets/natto.jpg" class="natto"/>
    
</div>