<% content_for :title do %>
DB_index
<%end%>


<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<% @texts.each do |text| %>
<div>
<%= text %>
<% end %>
</div>
<%="DB =>"+ @posts.content%>
</br>
<%= link_to("Home","/")%>