// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.list{
    font-size:30px;
    color:gray;
    
    .list_link{
          text-decoration: none;
          color:gray;
          &:hover{
             color:orange; 
             font-size:35px;
          }
    }
}

p{
    font-size:30px;
}
